{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block body %}
    {% with WIDGET_ERROR_CLASS='is-invalid' %}
        <form action="{% url 'MyBlog:advertisement' category.id %}" enctype="multipart/form-data" method="POST"> 
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Advertisement - {{category.category_title}}</h5>
                </div>
                <div class="modal-body">
                    {% crispy form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                    <button type="submit" class="submit-btn btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    {% endwith %}
{% endblock %}


{% block js %}
    
{% endblock %}